.gameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  font-weight: 500;
  background-color: white;
}

.square:nth-child(1) {
  border-top: none;
  border-left: none;
}
.square:nth-child(4) {
  border-left: none;
}
.square:nth-child(7) {
  border-left: none;
  border-bottom: none;
}
.square:nth-child(2) {
  border-top: none;
}
.square:nth-child(3) {
  border-top: none;
  border-right: none;
}
.square:nth-child(6) {
  border-right: none;
}
.square:nth-child(8) {
  border-bottom: none;
}
.square:nth-child(9) {
  border-right: none;
  border-bottom: none;
}
